<!DOCTYPE html>
<html>
  <head>
    <title>Tracery Tester</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <main>
      <div class="options">
        <header>Tracery tester</header>
        <form id="formy">
          <label for="counting">Number of tries?</label>
          <input id="counting" type="number" min="1" max="20" step="1" value="1" width="30px"/> 

          <select id="grammar">
            <option value="default" >default</option>
            <option value="traveling-folk">Traveling Folk Bands</option>
            <option value="you-wrote-this">You wrote about this</option>
            <option value="cat-keyboard">Keyboard Cat Commit</option>
            <option value="international-bees">Bees!</option>
          </select>

          <button id="count_btn" >
              Go!
          </button>
        </form>
      </div>
      
      <div class="results">
        <!-- gonna add the blobs here -->
        
      </div>
    </main>
    
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>

    <script src="/client.js"></script>
  </body>
</html>