body {
  margin: 20px 100px;
  width:auto;
}
header {
  font-size: 125%;
  border-bottom: 1px solid #eee;
  margin-bottom:30px;
}

#rolling {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap:1.5rem;
}

#rolling div {
  background-color:#92b8dd;
  padding: 1em;
  overflow-wrap: break-word;
}

#rolling .default {
  font-family: 'Source Code Pro', monospace;
  font-size: 150%;
  letter-spacing: 1rem;
  max-width: 200px;
}