body {
  margin: 20px 100px;
}
header {
  font-size: 125%;
  border-bottom: 1px solid #eee;
  margin-bottom:30px;
}

/** not a generic design, fyi. **/
#rolling {
  display: grid;
  grid-template-columns: repeat(3, [col] fit-content(50%) );
  grid-gap:20px;
}

#rolling div {
  background-color:#92b8dd;
  padding: 1em;
}

#rolling .default {
  font-family: 'Source Code Pro', monospace;
  font-size: 150%;
  letter-spacing: 1rem;
  max-width: 200px;
}